.formElement {
    margin-bottom: 12px;
}

.close {
    top: 0;
    right: 0;
    position: absolute;
    color: inherit;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding-right: 12px;
    padding-top: 6px;
}
.alert {
    padding: 8px;
}